body {
  background: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
input, button {
  padding: 8px;
  margin: 5px;
}
.main {
  margin-top: 20px;
}
.card {
  background: #1c1c1c;
  margin: 10px auto;
  padding: 15px;
  width: 300px;
  border-radius: 8px;
}
