
body {
  background: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
input, button {
  padding: 8px;
  margin: 5px;
}
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  border: 1px solid #555;
}
